/*.rbxlx.lock
/*.rbxl.lock

Packages/
ServerPackages/
**/_Index/**

/wally.lock

.rokit/
sourcemap.json
build/

*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

*.log
.DS_Store
Thumbs.db

node_modules/
package.json
package-lock.json
